<figure class="figure figure--{{ position }}" style="width: {{ image_width }}px">

	{% if href.value %}
		<a href="{{ href.value }}" {% if href.target %}target="{{ href.target }}"{% endif %}>
	{% endif %}

		<img src="{{ image.src }}" alt="{{ image.alternative }}">

		{% if image.description %}
			<figcaption>{{ image.description }}</figcaption>
		{% endif %}

	{% if href.value %}
		</a>
	{% endif %}

</figure>