<figure class="figure figure--{{ position }}" style="width: {{ image_width }}px">

	{% if image.link %}
		<a href="{{ image.link }}">
	{% endif %}

		<img src="{{ image.src }}" alt="{{ image.alternative }}">

		{% if image.description %}
			<figcaption>{{ image.description }}</figcaption>
		{% endif %}

	{% if image.link %}
		</a>
	{% endif %}

</figure>