<section class="section {% if gapless == true %}section--gapless{% endif %}">
	{% if anchor %}
		{% inject "anchor/anchor.njk", { anchor: anchor } %}
	{% endif %}
	{% if headline %}
		<div class="row">
			<div class="column">
				<h2 class="h2 spacing-large">{{ headline.text }}</h2>
			</div>
		</div>
	{% endif %}
	<div class="row">
		<div class="column">
			{{ column1 | safe }}
		</div>
	</div>
</section>