.section {

	// The position must be relative as the anchor inside is positioned absolute
	position: relative;
	margin: $gutter*4 0 0;

	@media (max-width: $bpS) {
		margin: $gutter*2 0 0;
	}

	&--gapless {
		margin: $gutter/2 0 0;
	}

}