.teaser {

	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: $gutter/2;
	color: currentColor;
	text-decoration: none;

	&__media {
		position: relative;
		width: 100%;
		margin-bottom: $gutter/2;
		overflow: hidden;

		&::before {
			content: '';
			display: block;
			padding-bottom: (9 / 16) * 100%;
		}
	}

	&__image {
		@extend %fill;
		@extend %background;
	}

	&__content {
		display: flex;
		flex-direction: column;
	}

	&__link {
		margin-top: auto;
	}

}