<div class="cookie">

	<div class="row">
		<div class="column">
			<div class="cookie__text">
				<div class="rte">
					{{ bodytext | safe }}
				</div>
			</div>
			<button class="cookie__button button">{{ button }}</button>
		</div>
	</div>

</div>
