<div class="cookie">

	<div class="row">
		<div class="column">
			<div class="cookie__text rte">{{ bodytext | safe }}</div>
			<button class="cookie__button button">{{ button }}</button>
		</div>
	</div>

</div>
