<section class="section {% if gapless == true %}section--gapless{% endif %}">
	{% if anchor %}
		{% inject "anchor/anchor.njk", { anchor: anchor } %}
	{% endif %}
	{% if headline %}
		<div class="row">
			<div class="column">
				<{{ headline.type }} class="{{ headline.style }} spacing-large">{{ headline.text }}</{{ headline.type }}>
			</div>
		</div>
	{% endif %}
	<div class="row">
		<div class="column large-4 {% if sameheight %}flex{% endif %}">
			{{ column1 | safe }}
		</div>
		<div class="column large-8 {% if sameheight %}flex{% endif %}">
			{{ column2 | safe }}
		</div>
	</div>
</section>