<div class="accordion">
	{% for item in content %}
		<div class="accordion__item">
			<button class="accordion__head">
				{{ item.headline.text }}
				<div class="accordion__icon">
					{% inject "icon_chevron/icon_chevron.njk" %}
				</div>
			</button>
			<div class="accordion__body">
				{{ item.bodytext | safe }}
			</div>
		</div>
	{% endfor %}
</div>